@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

/* SUPERINFO */
.superinfo-bg{
  background-color: #122ab2;
  color: #fff;
}

.superinfo{
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  padding-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.superinfo p, .superinfo a{
  margin: 0 10px 10px 10px;
}

.superinfo a{
  color: #fff;
}

/* MENU */

.menu-bg{
  background-color: #2c70ff;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu a{
  color: #fff;
}

.menu-logo a{
  font-size: 2.25em;
  margin: 0 10px;
  font-weight: bold;
}

.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}


.menu-nav ul a{
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav ul a:hover{
  color: #2c70ff;
  background-color: #fff;
  border-radius: 2px;
}

/* INTRODUÇÃO */
.introducao{
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.introducao h1{
  margin: 0 10px;
  font-size: 3em;
  line-height: 1;
}


/* SOBRE */
section.sobre{
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info{
  flex: 2;
  flex-basis: 300px;
  margin: 0 10px;
}

.sobre-info h1{
  font-size: 3em;
  margin-bottom: .5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img{
  flex: 1;
  flex-basis: 160px;
  margin: 0 10px;
}