@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  font-family: 'Nunito', sans-serif;
  color: #222222;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

/* SUPERINFO */
.superinfo-bg{
  background-color: #122ab2;
  color: #fff;
}

.superinfo{
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  padding-top: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.superinfo p, .superinfo a{
  margin: 0 10px 10px 10px;
}

.superinfo a{
  color: #fff;
}

/* MENU */